# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

doom_scenario_path = cig.wad

# Make episodes start in the first tic
episode_start_time = 1

# Make episodes finish after 12 minutes
episode_timeout = 25200

# Rendering options
screen_resolution = RES_320X240
render_hud = true

# Available buttons
available_buttons =
    {
        ATTACK
        SPEED
        USE

        TURN_LEFT
        TURN_RIGHT
        MOVE_RIGHT
        MOVE_LEFT
        MOVE_FORWARD
        MOVE_BACKWARD
    }

available_game_variables =
    {
        FRAGCOUNT
        DEATHCOUNT
        HEALTH
        ARMOR
        SELECTED_WEAPON_AMMO
    }

mode = ASYNC_PLAYER
